DATABASE_DRIVER="postgres"
# Environment variables for the NestJS app
PORT=3000
# MongoDB
DATABASE_URL="mongodb://localhost:27017/afisha"
# PostgreSQL
DATABASE_NAME="afisha"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="film_user"
DATABASE_PASSWORD="film_pass"